@import 'elements/global/modal';
@import 'elements/global/loader';




.fa-plus-square{
    color: rgb(45, 189, 0);
}
.fa-times-circle{
    color: #e45555;
}


.GridImageContainer{
    position:relative;
}

.GridImageContainer:hover > .IconContainer{
   opacity: 1;
}


.IconContainer{
    transition: all 0.3s;
    position: absolute; 
    font-size: 1.3541vw;
    width: 3.125vw;
    opacity: 0;
    right: 0;
    height: 100%;
    background-color: rgba(42, 49, 49, 0.4196078431372549);
}
.AddToGrid, .RemoveFromGrid, .EditSpeakerGlobal, .EditSponsorGlobal{
    text-align: right;
    padding: 15px;
    margin: 5px 0;
    text-shadow: 1px 1px 11px rgba(0, 0, 0, 0.96);
    cursor: pointer;
    width: 53px;
    transition: all 0.3s;

}

.EditSpeakerGlobal, .EditSponsorGlobal{
    color: #f3b353;
}

.DeleteItem{
    padding: 15px;
    color: #e45353;
    text-shadow: 1px 1px 1px rgba(14, 5, 5, 0.82);
    cursor: pointer;
    width: 53px;
   text-align: left; 
   transition: all 0.3s;
}

.AddToGrid:hover, .RemoveFromGrid:hover, .DeleteItem:hover, .EditSpeakerGlobal:hover, .EditSponsorGlobal:hover{
    transform: scale(1.2,1.2);
}

@media (max-width: 1920px) {
    .IconContainer{
    font-size: 26px;
    width: 60px;
    }
}

@media (max-width: 1000px) {
    .IconContainer{
    font-size: 19px;
    width: 60px;
    }
}

@media (max-width: 640px) {
    .IconContainer{
    font-size: 27px;
    width: 60px;
    }
}



#PageContainer{
    text-align: center;
}

.SectionHeader{
    margin: 2vw;
}

.SearchContainer{
    margin: 1vw;
}


#AllSpeakerSection, #AllSponsorSection{
  min-height: 1000px;
  margin-bottom: 100px;
}

   
#NewGridContainer{
  display:none;
    margin: 0px auto 30px auto;
    background-color: rgba(0, 0, 0, 0.07058823529411765);
    padding: 50px;
    width: 100%;
    max-width: 500px; 
    -webkit-box-shadow: inset 2px 2px 12px 1px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: inset 2px 2px 12px 1px rgba(0, 0, 0, 0.26);
    box-shadow: inset 2px 2px 12px 1px rgba(0, 0, 0, 0.26);    
}


#NewGridHeadline{
    background-color: rgba(0, 0, 0, 0.7294117647058823);
    width: 100%;
    max-width: 320px;
    margin: 25px auto;
    padding: 10px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

#GridSection{
  background-color: rgba(95, 65, 22, 0.050980392156862744);
    padding: 50px 0 85px 0;
    -webkit-box-shadow: inset 2px -5px 20px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: inset 2px -5px 20px 0px rgba(0, 0, 0, 0.26);
    box-shadow: inset 2px -5px 20px 0px rgba(0, 0, 0, 0.26);
}

#CustomItemGrid{
    display:none;
    -webkit-box-shadow: 0px -1px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 18px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 18px 0px rgba(0,0,0,0.75);

    margin-top: 10px;
    margin-bottom: 10px;
    padding: 25px;

}


#CustomItemLoading{
  display:none;
}
.CustomItemContainer, .CustomItemContainer{
  min-height: 0;
}
.form-control{
    margin: 10px 0px;
    display: inline-block;
    width: 43%;
}
#bio {
    width: 87%;
    height: 90px;
    border: 1px solid rgba(0, 0, 0, 0.1803921568627451);
    margin-bottom: 25px;
}
#first_name{
    width: 28%;
}
#last_name{
  width: 43%;
}
#prefix{
    width: 15%;
}
#GridLabelContainer{
  margin: 0 28%;
    width: 170px;
}