@import 'reset';
@import '../common';

body{
	margin-top:-50px;
}

$blue : #0090ff;

header,footer{
	display:none;
}

input{
	padding:1px 8px;
    border: 1px solid #ccc;
    
}

#text-area{
	flex-direction:column;
}

textarea{
	border: 1px solid #ccc;
    margin-top: 16px;
    max-height: 100px;
    min-height: 100px;
    min-width: 100%;
    max-width: 100%;
}
label{
	display:inline-block;
	margin-bottom:4px;
	margin-right: 100px;
	width:400px;

}

#form-wrp{
	display:flex;
}

#form{
	width:1170px;
	max-width:100%;
	margin:70px auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #fff;
}

.title{
	background: repeating-linear-gradient(-45deg, rgba(0, 144, 255, 0.3), rgba(0, 144, 255, 0.3) 3px, transparent 3px, transparent 6px);
	margin-bottom:16px;
	h4{
		display: inline-block;
	    background: #fff;
	    margin: 0;
	    margin-top: 8px;
	    padding: 4px;
	    padding-left: 0;
	    font-weight: bold;
	}
}
.sec{
	margin-bottom:48px;
}

.form-header{
	background-color:#000;
    padding: 16px 32px;
    .form-title{
    	display: inline-block;
    	margin-left: 250px;
    	margin-top:0; 

    	h2{
    		font-size: 14px;
    		margin-bottom: 12px;
    	}
    }
    #unleash-logo{
    	display: inline-block;
    	margin-bottom: -30px;
    	padding-top:15px;
    }
}

.form-body{
	padding:32px;
}

.event-pick{
	display:flex;
	flex-direction:column;
	@media (min-width: 800px) {
		flex-direction: row;
	}
	.deadline{
		margin: auto 0;
		width: 100%;
		margin-bottom: 32px;
		@media (min-width: 800px) {
			width: 65%;
			margin: auto 0;
		}
		h4{
			color:#000;
			font-weight: bold;
			strong{
				color: $blue;
			}
		}
	}
	.event-details{
		
		@media (min-width: 800px) {
			margin-left: auto;
		}
		div{
			display: flex;
			margin:8px 0;
			flex-direction: column;
			@media (min-width: 500px) {
				flex-direction: row;
			}
		}
		input{
			@media (min-width: 500px) {
				margin-left: auto;
			}
		}
	}
}

.publicy-contact{
	display:flex;
	flex-wrap:wrap;
	@media (min-width: 800px) {
		flex-wrap: nowrap;
	}

	.publicy{
		width: 100%;
		@media (min-width: 800px) {
			width: 65%;
			margin-right: 32px;
		}

		.publicy-details{
			div{
				display: flex;
				margin:8px 0;
				flex-direction: column;
				@media (min-width: 500px) {
					flex-direction: row;
				}
			}
		}
	}

	.contact{
		margin-top: 32px;
		display: block;
		.contact-details{
			div{
				display: flex;
				margin:8px 0;
				flex-direction: column;
				@media (min-width: 500px) {
					flex-direction: row;
				}
			}
		}
	}
}

.picture{
	input{
		width: 100%;
		padding:32px;
		margin:16px auto;
	}
}

.company{
	.company-details{
		div{
			display: flex;
			margin:8px 0;
			flex-direction: column;
			@media (min-width: 500px) {
				flex-direction: row;
			}
		}
	}
}

.product{
	.product-details{
		div{
			display: flex;
			margin:8px 0;
			flex-direction: column;
			@media (min-width: 500px) {
				flex-direction: row;
			}
		}
	}
}

