$white : #fff;
$black : #000;
$ams : #0090ff;
$lon : #33cc33;
$las : #e80f42;


section.header-title {
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 5em;

  @media (min-width: 40em) {
      margin: auto;
      margin-top: 16em;
  }
  @media (min-width: 120em) {
      max-width: 26vw;
      margin-top: 13vw;
      img{
        width: 26vw;   
      }
  }
}

#header-menu{
  display: flex;
  position:fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color:$black;
  &.show{
    height: 100%;
    #desktop-menu{
      visibility: visible;
      opacity: 1;
      transition: all .5s;
      margin: 3em 1em;
    }
  }
}

#unleash-logo{
  width: 215px;
  height: 50px;
  padding: .6em 1em;
  @media (min-width: 75em) {
    width: 275px;
    padding: .45em 1em;
  }
  @media (min-width: 120em) {
    padding: .32vw .83vw;
    width: 14vw;
    height: 2.5vw;
  }
  
  &:hover{
    transition: background-color 1s;
    @media (min-width: 75em) {
      background-color:$ams;
    }
  }
  &:hover #full-logo{
    transform: translateX(237px);
    transition: all .5s;
    @media (min-width: 120em) {
      transform: translateX(12.8vw);
    }
  }
  &.show{
    transition: background-color 1s;
    @media (min-width: 75em) {
      background-color:$ams;
    }
    #full-logo{
      transform: translateX(237px);
      transition: all .5s;
      @media (min-width: 120em) {
        transform: translateX(12.8vw);
      }
    }
  }
  
  #full-logo{
    position:absolute;
    left: -220px;
    width: 180px;
    @media (min-width: 75em) {
      width: auto;
    }
    @media (min-width: 120em) {
      height: 1.85vw;
      left: -12vw;
    }
  }
  #u-logo{
    width: 25px;
    @media (min-width: 75em) {
      width: auto;
    }
    @media (min-width: 120em) {
      height: 1.85vw;
    }
  } 
}

#desktop-menu{
  padding: .5em 1em;
  display: flex;
  flex-direction: column;
  position:fixed;
  top: 5%;
  visibility: hidden;
  opacity: 0;
  @media (min-width: 75em) {
    width: 95%;
    flex-direction: row;
    justify-content: space-between;
    position:static;
    visibility: visible;
    opacity: 1;
  }
  @media (min-width: 120em) {
    padding: .42vw .83vw;
  }

  .menu-ul{
    display: flex;
    flex-direction: column;
    @media (min-width: 75em) {
      flex-direction: row;
    }

    li{
        margin: .5em 0;
      @media (min-width: 75em) {
        margin: auto 1em;  
      }
      @media (min-width: 120em) {
        margin: auto .83vw;
      }
      &.more{
        position:relative;
        @media (min-width: 75em) {
          margin: auto 1em;
          margin-right: 1.5em;  
        }
        &:hover{
          .dropdownbox{
            visibility: visible;
            opacity: 1;
            transition: all .3s;
            position:static;
            @media (min-width: 75em) {
              position:absolute;
            }
          }
          .ul-wrp{
            
            transition: all .3s;
            @media (min-width: 75em) {
              transform: translateY(55px);
            }
            @media (min-width: 120em) {
             transform: translateY(3vw);
            }
            
          }
        }
        > a::after{
          content: '';
          width: 10px;
          height: 9px;
          display: block;
          background:url("../gfx/arrow-down.png");
          background-size:contain;
          background-repeat:no-repeat;
          position:absolute;
          right: -30%;
          top: 30%;
          @media (min-width: 120em) {
            width: .52vw;
            height: .47vw;
          }
        }
        > a:hover::after{
          background:url("../gfx/arrow-down-blue.png");
          background-size:contain;
          background-repeat:no-repeat;
        }

        .ul-wrp{
          padding:.5em 0;
          @media (min-width: 75em) {
            background-color:$white;
            box-shadow:3px 3px 25px rgba(0, 0, 0, 0.5);
          }
          @media (min-width: 120em) {
            padding: .4vw 0;
          }

          li{
            margin:0 1em;
          }

          li.amsterdam:hover a,li.amsterdam:hover p{
            color: $ams;
          }
          li.london:hover a,li.london:hover p{
            color: $lon;
          }
          li.lasvegas:hover a,li.lasvegas:hover p{
            color: $las;
          }

          a{
            color: $white;
            @media (min-width: 75em) {
              color: $black;
            }
          }

          li.amsterdam span{color:$ams}
          li.london span{color:$lon}
          li.lasvegas span{color:$las}

          p{
            display: inline-block;
            width: 100px;
            color: $white;
            font-size: 100%;
            font-weight: 400;
            line-height: 1.5em;
            @media (min-width: 75em) {
              color: $black;
            }
            @media (min-width: 120em) {
              width: 5vw;
            }
          }
          span{
            font-size: 100%;
            margin-right: 5px;
          }
        }
      }
      a{
        color:$white;
        position:relative;
        @media (min-width: 120em) {
          font-size: .83vw;
        }
        &:hover{
          color: $ams;
        }
      }
    }

    .dropdownbox{
      visibility: hidden;
      position:absolute;
      opacity: 0;
      width: 305px;
      z-index: 15;
      margin-top: 1em;
      @media (min-width: 75em) {
        position: absolute;
        margin-top: 0;
      }
      @media (min-width: 120em) {
        width: 16vw;
      }
    }
  }

  .spec-menu{
    display: flex;
    flex-direction: column;
    padding:1em 0;
    border-left:2px solid $ams;
    padding-left: .7em;
    padding-top: 0;
    padding-bottom:0;
    margin:1em 0;

    @media (min-width:75em) {
      position:fixed;
      border-left:none;
      padding:.5em 1em;
      margin: 0;
      top: 50px;
      left: 0;
      width: 100%;
      flex-direction: row;
      background-color:$white;
      box-shadow:3px 7px 15px rgba(0, 0, 0, 0.2);
    }
    @media (min-width: 120em) {
      padding: .4vw .8vw;
      top: 2.5vw;
    }

    li{
      margin:.5em 0;
      color:$black;
      cursor: default;
      @media (min-width: 75em) {
        margin:auto 1em;
      }
      @media (min-width: 120em) {
        margin:auto .83vw;
        font-size: .83vw;
      }

      a{
        color:$white;
        &:hover{
          color:$ams;
        }
        @media (min-width: 75em) {
          color:$black; 
        }
        @media (min-width: 120em) {
          font-size: .83vw; 
        }
      }
      &:first-child{
        /*color:$ams;*/
        margin: 0;
         @media (min-width: 75em) {
            font-size: 89%;
            margin-right: 2.5em;
            align-self: center;
         }
         @media (min-width: 120em) {
          font-size: .74vw;
         } 
        strong{
          display: block;
          font-weight: 900;
          font-size:150%;
          text-transform:uppercase;
          @media (min-width: 75em) {
            display: inline-block;
            font-weight: normal;
            font-size: 100%;
            text-transform: none;
          }
        }
      }
      &:last-child{
        margin-bottom: 0;
        @media (min-width: 75em) {
          margin:auto 1em;
        }
      }
    }
  }

  .social-booknow{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    @media (min-width: 75em) {
      flex-direction: row;
      margin:0;
    }
    .icos-wrp{
      display: flex;
      @media (min-width: 75em) {
        margin-right: 3.5em;
        justify-content: space-between;
      }
      @media (min-width: 120em) {
        margin-right: 3vw;
      }

      > div{
        margin: auto 0;
        margin-right: 1em;
        @media (min-width: 75em) {
          margin:auto .5em;
        }
        @media (min-width: 120em) {
          margin: auto .45vw;
        }
      }

      img{
        @media (min-width: 120em) {
          height: 0.73vw;
        }
      }
    }

    button.signup{
      position:relative;
      letter-spacing: 2px;
      background:none;
      color:$white;
      width: 115px;
      text-transform:uppercase;
      margin: 1em 0;
      padding-right:2em;
      text-align: left;
      cursor: pointer;
      @media (min-width: 75em) {
        margin:auto 0;
        margin-right: 2em;
        width: auto;
      }
      @media (min-width: 120em) {
        padding-right:1.7vw;
        margin-right: 1.7vw;
        font-size: .8vw;
      }
      &::after{
        content: '';
        width: 25px;
        height: 20px;
        display: block;
        background:url("../gfx/mail.svg");
        background-size:contain;
        background-repeat:no-repeat;
        position:absolute;
        right: 0;
        top: -20%;
        @media (min-width: 120em) {
          width: 1.3vw;
          height: 1.05vw;
        }
      }
    }
  }
}

#hamburger {
  position: fixed;
  right: 5%;
  top: -4px;
  z-index: 999;
  width: 35px;
  height: 57px;
  cursor: pointer; }
  @media (min-width: 40em) {
    #hamburger {
      right: 3%; } }
  @media (min-width: 75em) {
    #hamburger {
      display: none; } }

.bar,
.bar:after,
.bar:before {
  width: 35px;
  height: 5px; }

.bar {
  position: relative;
  transform: translateY(26px);
  background: white;
  transition: all 0ms 300ms; }
  .bar.animate {
    background: rgba(255, 255, 255, 0); }

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  background: white;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  background: white;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }


.londoncolor {
 color:$lon !important;
}

.lasvegascolor{
	color:$las !important;
}

.amsterdamcolor{
	color:$ams !important;
}


.envelope {
  position: relative;
  height: 0px;
  margin:auto;
  margin-left: 70px;
  margin-top: 1.5em;
  font-size: 15px;
  cursor: pointer;
  @media (min-width: 75em) {
    margin:auto;
    margin-left:70px;
  }
.icon-envelope {
  z-index: 1;
  position: relative;
  width: 24px;
  height: 3.5px;
  background-color: #fff;
  box-shadow: 0px 0.5px 0px #fff;
  @media (min-width: 125em) {
    width: 1.25vw;
    height: .23vw;
  }
  &:before {
    z-index: 1;
    position: absolute;
    display: block;
    content: '';
    top: -7.5px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 7.5px 0 0 12px;
    border-color: transparent transparent transparent #fff;
  }
  &:after {
    z-index: 1;
    display: block;
    content: '';
    position: absolute;
    top: -7.5px;
    right: 0px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 7.5px 12px;
    border-color: transparent transparent #fff transparent;
  }
}
.header {
    z-index: 2;
    position: absolute;
    top: -7.5px;
    display: block;
    box-shadow: 0px 0px 0px #fff;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 12px 8.3px 12px;
    border-color: transparent transparent #000 transparent;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transition: all 0.5s;
    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0.9px;
      left: -12px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 12px 7.5px 12px;
      border-color: transparent transparent #fff transparent;
    }
  }
.letter {
    z-index: 0;
    position: absolute;
    width: 15px;
    height: 0px;
    background: #696969;
    left: 3.5px;
    bottom: 1px;
    opacity: 1;
    transition: all 0.5s;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      left: 2.5px;
      width: 10px;
      height: 1.6px;
      background-color: #fff;
      transition: all .25s;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 3.5px;
      left: 2.5px;
      width: 10px;
      height: 0.6px;
      background-color: #fff;
      transition: all .25s;
    }
  }
&:hover {
    .header {
      z-index: 0;
      top: -15px;
      transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      border-width: 0 12px 7.5px 12px;
      &:before {
        top: 0px;
        box-shadow: 0px 0.5px 0px #000;
      }
    }
    .letter {
      bottom: 0px;
      height: 10px;
      opacity: 1;
    }
  }
}

.envelope:after {
  color:#fff; 
  position:relative;
  top:-12px;
  left:-70px; 
  content:"SIGN UP";
  @media (min-width: 125em) {
    font-size: .78vw;
  }
}

@media (min-width: 30em) {
    .btn, .full-btn, .pink-btn, .green-btn, .black-btn, .blue-btn, .red-btn, .amsblue-btn, .white-btn, .trans-btn {
      width: 220px!important;
    }
}