@media (min-width: 75em) {
  #unleash-logo.show {
    background-color: #33cc33;
  }
}

@media (min-width: 75em) {
  #unleash-logo:hover {
    background-color: #33cc33;
  }
}

#desktop-menu .menu-ul li a:hover {
  color: #33cc33;
}

#desktop-menu .spec-menu li a:hover {
  color: #33cc33;
}

#desktop-menu .menu-ul li.more > a:hover::after {
  background: url(../../gfx/arrow-down-green.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#desktop-menu .spec-menu {
  border-color: #33cc33;
}

@media (min-width: 75em) {
  #desktop-menu .spec-menu li:first-child {
    margin-right: 5em;
  }
}

h2, h4 {
  color: #33cc33;
}

.white-btn {
  color: #33cc33;
}
