.modal-header {
  color: #33cc33;
}

.blue-btn {
  background-color: #33cc33 !important;
}

.blue-btn:hover {
  border-color: #33cc33 !important;
  color: #33cc33 !important;
  background-color: #fff !important;
}

#reservation .modal-content {
  width: 410px;
  height: auto;
}

#reservation .modal-header {
  padding-left: 2em;
  padding-right: 2em;
}

@media (min-width: 400px) {
  #reservation .modal-header {
    padding-left: 3em;
    padding-right: 3em;
  }
}

#reservation .modal-header .close {
  font-size: 28px;
}

#reservation .modal-header p {
  margin-bottom: .2em;
  margin-top: 1em;
}

#reservation .modal-header p:first-child {
  margin-top: 2em;
}

#reservation .modal-header span {
  font-size: 13px;
  font-weight: bold;
}

#reservation .modal-header span a {
  color: #33cc33;
}

#reservation .modal-header span a:nth-child(3) {
  display: none;
}

#reservation .modal-header .green-btn {
  width: 100% !important;
  margin-top: 32px;
  margin-bottom: 1em;
  font-size: 13px;
}
