@import 'components/reset';
@import '../common';
@import '../menu';
@import '../inner-menu';
@import '../footer';
@import '../popup';
@import 'components/menu';
@import 'components/footer';
@import 'components/popup';
@import 'components/speakergrid';
@import 'components/common';

$lon:#33cc33;

$main-stage : #18a8e1; 
$hrtech-stage : #ff9900; 
$Leadership : #cc00cc; 
$smartdata : #8A5EA4; 
$learn-dev : #cc6600; 
$adoption : #ff0033; 
$think-tank : #5FA6DF; 
$hrtech-analyst : #686baf; 
$rewards : #33cccc; 
$startup-stage : #CCA82E; 
$product-stage : #E41A52; 
$futureofwork : #5FA6DF; 
$digital : #3300cc; 
$hrss-payroll : #809453; 
$talent : #00cc33; 
$speed-I : #3476b9; 
$speed-II : #3476b9;

$one : #f5a503;
$two : #083643;
$three : #f2385a;
$four : #bedb39;
$five : #4ad9d9;
$coffee : wheat;

p{line-height:1.5em}


.agenda{
	margin-top:5.5em;
	@media (min-width: 75em) {
		margin-top:8.5em;
	}

	h1{
		font-size:4rem;
		font-weight:bold;
		text-align:center;
		text-transform:uppercase;
		@media (min-width: 125em) {
			font-size: 3.3vw;
		}
	}
}

.contents-bg{
    max-width: 100%;
    width: 100%;
    @media (min-width: 75em) {
		width: 75%;
	}

}

.content-section{
	background: #eee;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.title-section{
	margin:2.5em 3em;
	@media (min-width: 125em) {
		margin:2.5vw 3vw;
		margin-top: 7vw;
	}

	h4{
		text-align: center;
		color: $dark-green;
	}
}

.tabContent{
	visibility:visible;
	opacity:1;
	height:auto;
	transition: all 1s;
	&.hide{
		visibility:hidden;
		opacity:0;
		height: 0;
		overflow:hidden;
		transition: all 1s;
	}
}

.inner-wrp{
	width: 1170px;
    margin: 0 auto;
    max-width: 100%;
    padding:2em;
}

.tabs-wrp{
	background:#fff;
	.tabs{
		display: flex;
		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.002), 0 1px 4px rgba(0, 0, 0, 0.05);

		.tab{
			width: 50%;
			padding: 1em;
   			text-align: center;
    		text-transform: uppercase;
    		color:#ccc;
    		cursor: pointer;
    		font-weight:700;

    		@media (min-width: 125em) {
    			padding:1vw;
    			font-size: .83vw;
    		}

			&.active{
				background: $dark-green;
				color: #fff;
			}
		}
	}
}

#SearchBarContainer{
	margin:1.5em 0;
	
	#SessionSearchBar{
		width: 100%;
    	background: #fff;
    	padding: .5em;
    	border: 1px solid #eee;
    	font-style: italic;
    	text-align: center;
    	
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: #eee;
		}
		&::-moz-placeholder { /* Firefox 19+ */
				color: #eee;
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: #eee;
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: #eee;
		}
    	
    }
}

.FilterInnerSection{
	color:#888;
	display:flex;
	flex-wrap:wrap;
	padding-left:.2em;
	div{
		margin-bottom:.5em;
		flex-basis:100%;
		font-size:15px;
		@media (min-width: 515px) {
			flex-basis:50%;
		}
		@media (min-width: 950px) {
			flex-basis:25%;
		}
		@media (min-width: 75em) {
			flex-basis:100%;
		}	
	}
	input{
		cursor: pointer;
	}
}

.SpeakerListContainer{
	margin-top:1em;

	li{
		margin-bottom: .25em;
	}

	a{
		display: flex;
		h6{font-weight:bold;}
	}
	.SpeakerImgContainer{
		margin-right: 1em;
		img{
			width: 70px;
			max-width:none;
		}
	}

	.SpeakerContent{
		display: flex;
		flex-direction: column;
		margin:auto 0;
		p,span{
			font-size:10px;
			@media (min-width: 30em) {
				font-size:12px;
			}
			@media (min-width: 75em) {
				font-size:14px;
			}
		}
		span{
			color:$dark-green;
			font-style: italic;
		}
	}
}

.cnt-wrp{
	display:flex;
	flex-wrap:wrap;
	background:#fff;
	margin-bottom:2em;
	box-shadow: 0 1px 6px rgba(0,0,0,.002), 0 1px 4px rgba(0,0,0,.05);

	@media (min-width: 65em) {
		flex-wrap: nowrap;
	}
	@media (min-width: 125em) {
		margin-bottom: 2vw;
	}

	.left-side{
		display: flex;
		flex-direction: column;
		width: 100%;
		padding:2em;
		padding-right:2em;
		position:relative;

		@media (min-width: 65em) {
    		width: 225px;
    		padding:2em 1em;
    		padding-right:2em;
  		}
  		@media (min-width: 125em) {
			width: 25%;
			padding:1.7vw .85vw;
		}

		&::after{
			content: '';
			display: block;
			width: 100%;
			height: 20px;
			bottom:0;
			left: 0;
			position:absolute;
			background: repeating-linear-gradient(-45deg,rgba(0,0,0,.3),rgba(0,0,0,.3) 3px,rgba(0,0,0,0) 3px,rgba(0,0,0,0) 6px);
			@media (min-width: 65em) {
    			width: 20px;
				height: 100%;
				top: 0;
				right: 0;
				bottom:unset;
				left:unset;
  			}
  			@media (min-width: 125em) {
  				width:1.1vw;
  			}
		} 

		*{
			color: #fff;
		}

		h2{
			margin:0;
		}

		h3{
			font-weight: normal;
			line-height: 1.5em;
			@media (min-width: 125em) {
  				font-size:1.1vw;
  			}
		}
		h4{
			text-transform: none;
		}

		.shares{
			margin-top: auto;
			display: flex;
			img{
				height: 20px;
				margin-right: 1em;
				@media (min-width: 125em) {
					height: 1vw;
					margin-right: 1vw;
				}
			}
		}
		.time{
			margin:1em 0;
		}
	}
	.right-side{
		width: 100%;
		padding:2em;

		@media (min-width: 40em) {
			width: 74%;
		}

		@media (min-width: 125em) {
			width: 75%;
			padding:1.7vw;
		}

		h2{
			color:#000;
			font-size: 1.5rem;
			text-transform: none;
			@media (min-width: 125em) {
				font-size: 1.25vw;
			}
		}
		h4{
			text-transform: none;
		}
		.header{
			display: flex;
			margin-bottom: 1em;
			margin-left: 1.4em;
			flex-direction:column;
			@media (min-width: 450px) {
				flex-direction:row;
			}
			.place{
				margin-right: 4em;
				position:relative;
				@media (min-width: 125em) {
					margin-right: 3.5vw;
				}
				&::before{
					content:'';
					display: block;
					width: 20px;
					height: 20px;
					position: absolute;
					left: -25px;
					@media (min-width: 125em) {
						width: 1vw;
						height: 1vw;
						left: -1.3vw;
					}
				}
			}
			.duration{
				position:relative;
				margin-left:-1.4em;
				font-weight:bold;
				@media (min-width: 450px) {
					margin-left:0;
				}

				i{
					margin-right:.4em;
				}

				&::before{
					content:'';
					display: block;
					width: 18px;
					height: 18px;
					position: absolute;
					left: -25px;
					@media (min-width: 125em) {
						width: 1vw;
						height: 1vw;
						left: -1.3vw;
					}
				}
			}
		}
	}
}

#SessionContentSectionContainer{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: 75em) {
    	flex-wrap: nowrap;
    }
}

#SessionFilterSection{
	width:100%;
	margin-bottom:1em;
	@media (min-width: 75em) {
    	width: 300px;
    }
}



/*COLORS*/

.main-stage{
	.left-side{
		background:$one;
	}
	.right-side{
		h4,h6, {
			color:$one;
		}
		.header{
			.place::before{
				background:url("../../gfx/london/agenda/pin-orange.svg");
				background-size:contain;
				background-repeat:no-repeat;
			}
			.duration{
			 color:$one;
			}			
		}
	}
}

.adoption{
	.left-side{
		background:$one;
	}
	.right-side{
		h4,h6, {
			color:$one;
		}
		.header{
			.place::before{
				background:url("../../gfx/london/agenda/pin-orange.svg");
				background-size:contain;
				background-repeat:no-repeat;
			}
			.duration{
			 color:$one;
			}			
		}	
	}
}

.digital{
	.left-side{
		background:$three;
	}
	.right-side{
		h4,h6, {
			color:$three;
		}
		.header{
			.place::before{
				background:url("../../gfx/london/agenda/pin-adoption.svg");
				background-size:contain;
				background-repeat:no-repeat;
			}
			.duration{
			 color:$three;
			}			
		}
	}
}

.smartdata{
	.left-side{
		background:$two;
	}
	.right-side{
		h4,h6, {
			color:$two;
		}
		.header{
			.place::before{
				background:url("../../gfx/london/agenda/pin-darkgreen.svg");
				background-size:contain;
				background-repeat:no-repeat;
			}
			.duration{
			  color:$two;
			}
		}
	}
}

.think-tank{
	.left-side{
		background:$two;
	}
	.right-side{
		h4,h6, {
			color:$two;
		}
		.header{
			.place::before{
				background:url("../../gfx/london/agenda/pin-darkgreen.svg");
				background-size:contain;
				background-repeat:no-repeat;
			}
			.duration{
			  color:$two;
			}			
		}
	}
}

.HR-Payroll{
	.left-side{
		background:$two;
	}
	.right-side{
		h4,h6, {
			color:$two;
		}
		.header{
			.place::before{
				background:url("../../gfx/london/agenda/pin-darkgreen.svg");
				background-size:contain;
				background-repeat:no-repeat;
			}
			.duration{
			  color:$two;
			}			
		}
	}
}


.hr-tech{
	.left-side{
		background:$four;
	}
	.right-side{
		h4,h6, {
			color:$four;
		}
		.header{
			.place::before{
				background:url("../../gfx/london/agenda/pin-lightgreen.svg");
				background-size:contain;
				background-repeat:no-repeat;
			}
			.duration{
			  color:$four;
			}			
		}
	}
}

.talent{
	.left-side{
		background:$five;
	}
	.right-side{
		h4,h6, {
			color:$five;
		}
		.header{
			.place::before{
				background:url("../../gfx/london/agenda/pin-topaz.svg");
				background-size:contain;
				background-repeat:no-repeat;
			}
			.duration{
			  color:$five;
			}			
		}
	}
}


.learning{
	.left-side{
		background:$three;
	}
	.right-side{
		h4,h6, {
			color:$three;
		}
		.header{
			.place::before{
				background:url("../../gfx/london/agenda/pin-adoption.svg");
				background-size:contain;
				background-repeat:no-repeat;
			}
			.duration{
			  color:$three;
			}			
		}
	}
}


.wellbeing{
	.left-side{
		background:$four;
	}
	.right-side{
		h4,h6, {
			color:$four;
		}
		.header{
			.place::before{
				background:url("../../gfx/london/agenda/pin-lightgreen.svg");
				background-size:contain;
				background-repeat:no-repeat;
			}
			.duration{
			  color:$four;
			}			
		}
	}
}


.analytst{
	.left-side{
		background:$five;
	}
	.right-side{
		h4,h6, {
			color:$five;
		}
		.header{
			.place::before{
				background:url("../../gfx/london/agenda/pin-topaz.svg");
				background-size:contain;
				background-repeat:no-repeat;
			}
			.duration{
			  color:$five;
			}			
		}
	}
}


.productdemo{
	.left-side{
		background:$four;
	}
	.right-side{
		h4,h6, {
			color:$four;
		}
		.header{
			.place::before{
				background:url("../../gfx/london/agenda/pin-lightgreen.svg");
				background-size:contain;
				background-repeat:no-repeat;
			}
			.duration{
			  color:$four;
			}			
		}
	}
}


.startup-stage{
	.left-side{
		background:$one;
	}
	.right-side{
		h4,h6, {
			color:$one;
		}
		.header{
			.place::before{
				background:url("../../gfx/london/agenda/pin-orange.svg");
				background-size:contain;
				background-repeat:no-repeat;
			}
			.duration{
			  color:$one;
			}			
		}
	}
}


.leadership{
	.left-side{
		background:$one;
	}
	.right-side{
		h4,h6, {
			color:$one;
		}
		.header{
			.place::before{
				background:url("../../gfx/london/agenda/pin-orange.svg");
				background-size:contain;
				background-repeat:no-repeat;
			}
			.duration{
			  color:$one;
			}			
		}
	}
}

.Coffee{
	.left-side{
		background:$coffee;
	}
	.right-side{
		h4,h6, {
			color:$coffee;
		}
		.header{
			.place::before{
				background:url("../../gfx/london/agenda/pin-coffee.svg");
				background-size:contain;
				background-repeat:no-repeat;
			}
			.duration{
			  color:$coffee;
			}			
		}
	}
}


.hrss{
	.left-side{
		background:$three;
	}
	.right-side{
		h4,h6, {
			color:$three;
		}
		.header{
			.place::before{
				background:url("../../gfx/london/agenda/pin-adoption.svg");
				background-size:contain;
				background-repeat:no-repeat;
			}
			.duration{
			  color:$three;
			}			
		}
	}
}



