@import 'components/reset';
@import '../common';
@import '../menu';
@import '../footer';
@import '../popup';
@import 'components/menu';
@import 'components/footer';
@import 'components/popup';
@import 'components/speakergrid';
@import 'components/common';

.social-booknow button{
  background-color: #e80f42;
  color: #fff;
}

body {
  position: relative;
}

header {
  position:relative;
  min-height: 800px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background: url("../../gfx/lasvegas/header-bg-mobile.jpg") no-repeat #000;
  background-size: cover;
  background-position: center;
}

@media (min-width: 40em) {
  header {
    min-height: auto;
    background: url("../../gfx/lasvegas/header-bg-desktop.jpg") no-repeat #000;
    background-size: cover;
    background-position: center;
  }
}

.hamb-wrp {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 7000;
  padding: 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 75em) {
  .hamb-wrp {
    display: none;
  }
}

.hamb-wrp img {
  display: none;
}

.hamb-wrp.vanish {
  background-color: transparent;
  position: absolute;
  z-index: 9915;
}

.hamb-wrp.black {
  background-color: #000;
  -webkit-transition: none;
  transition: none;
}

.hamb-wrp.black #unleash-logo {
  margin: auto 0;
}

.hamb-wrp.black img {
  display: block;
  width: 150px;
}

@media (min-width: 40em) {
  .hamb-wrp.black {
    -webkit-transition: background-color 2s;
    transition: background-color 2s;
  }
}


.wrp {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1em;
}

@media (min-width: 120em) {
  .wrp {
    max-width: 53vw;
  }
}

section.one .wrp {
  padding: 2em;
  padding-bottom: 3em;
  color: #fff;

  p{
    font-size:14px;
    @media (min-width: 120em) {
      font-size:.76vw;
    }
  }

  strong{
    font-weight: bold;
  }
}

@media (min-width: 40em) {
  section.one .wrp {
    padding: 4em 3em;
  }
}

section.one .wrp h2 {
  color: #e80f42;
}

section.one .wrp button {
  margin: 2em 0;
  margin-bottom: 0;
}

section.one.futureofwork{
  background-color:$las;
  p{
    color:$white;
  }
  h2{
    color:$white;
    font-size: 3rem;
    font-family: "Anton","museo-sans",sans-serif;
    @media (min-width: 40em) {
      font-size:3.5rem
    }
    @media (min-width: 95em) {
      font-size:3.7rem
    }
  }
  @media (min-width: 40em) {
    text-align: center;
  }
}

section.one.mainsponsors {
  text-align: center;
  margin-top: auto;
  background: rgba(0,0,0,0.95);
  padding-top:2em;
  @media (min-width: 40em) {
    margin-top:-5px;
  }
  @media (min-width: 75em) {
    margin-bottom: 2em;
  }

  @media (min-width: 95em) {
    position:absolute;
    width: 100%;
    bottom:0;
    z-index: 5;
    background:none;
  }

  span{
    display: block;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: .5em;
  }
}





  
  section.one.mainsponsors .mainsponsors-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: .4em 0;
    justify-content: center;
    @media (min-width: 55em) {
      padding:1em 0;
    }
  }
    @media (min-width: 125em) {
      section.one.mainsponsors .mainsponsors-wrap {
        padding: 0 1vw;
        padding-bottom: 1vw;
      }
    }
    section.one.mainsponsors .mainsponsors-wrap > div {
      margin: 1em .25em;
      margin-top: auto;
      flex-basis:45%;
      flex-grow: 1;
      text-align: center;
      visibility: hidden;
      opacity: 0;
      @media (min-width: 30em) {
        flex-basis:auto;
      }
    }
      @media (min-width: 75em) {
        section.one.mainsponsors .mainsponsors-wrap > div {
          margin: 0 .75em;
          margin-top: auto;
          flex-grow: 0;
          padding-bottom: 1em; } }
      section.one.mainsponsors .mainsponsors-wrap > div.visible {
        visibility: visible;
        opacity: 1;
        transition: all 4s; }
      section.one.mainsponsors .mainsponsors-wrap > div img {
        width: 75px; }
        @media (min-width: 55em) {
          section.one.mainsponsors .mainsponsors-wrap > div img {
            width: 100px; } }
        @media (min-width: 120em) {
          section.one.mainsponsors .mainsponsors-wrap > div img {
            width: 5.3vw; } }

      #ibm-wrp{
        @media (min-width: 440px) {
          margin-top: .75em;
        }
      }

      #sap-wrp{
        margin-top: 0;
        @media (min-width: 440px) {
          margin-top: auto;
        }
        @media (min-width: 75em) {
          margin-top: 0;
        }
      }

      #smart-wrp,#apple-wrp{
        margin-top: .5em;
        @media (min-width: 470px) {
          margin-top: .75em;
        }
      }

      #sumtotal{
        img{
          width: 160px;
        }
      }

      #tanner{
        margin-top: .7em;
        img{
          width: 107px;
          @media (min-width: 415px) {
            width: 120px;
          }
        }
      }

      #adp,#ibm{
        width: 60px;
        @media (min-width: 55em) {
          width: 70px;
        }
        @media (min-width: 125em) {
          width: 4.2vw;
        }
      }

      #adobe{
        height: 35px;
        width: auto;
        @media (min-width: 55em) {
          height: 45px;
        }
        @media (min-width: 125em) {
          height: 2.4vw;
        }
      }


      #cornerstone,#smart,#applearn{
        width: 110px;
        @media (min-width: 55em) {
          width: 135px;
        }
        @media (min-width: 125em) {
          width: 7vw;
        }
      }
      #nga{
        width: 70px;
        @media (min-width: 55em) {
          width: 85px;
        }
        @media (min-width: 125em) {
          width: 4.4vw;
        }
      }
      #sap{
        width: 200px;
        margin-top: 10px;
        @media (min-width: 400px) {
          width: 230px;
        }
        @media (min-width: 125em) {
          width: 10.5vw;
        }
      }

      #cb{
        margin-top: .7em;
        @media (min-width: 775px) {
          margin-top: 1.2em;
        }

        img{
          width: 155px;
        }
      }

      #cultureamp{
        img{
          width: 135px;
        }
      }

      #walkme{
        img{
          width: 70px;
          margin-top: 10px;
        }
      }

      #cross{
        img{
          width: 155px;
        }
      }

      #icims{
        img{
          width: 70px;
          @media (min-width: 75em) {
            width: 75px;
          }
        }
        margin-bottom: .75em;
        @media (min-width: 440px) {
          margin-bottom: 1em;
        }
        @media (min-width: 700px) {
          margin-bottom: .75em;
        }
        @media (min-width: 75em) {
          width: 75px;
          margin-bottom: 0;
        }
      }





section.two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 600px;
}


section.two .wrppr {
  width: 100%;
  min-height: 500px;
  @media (min-width: 75em) {
    width: 50%;
  }

  .img-bg{
    height: 100%;

    &.mo{
      background:url("../../gfx/lasvegas/v2-site/mo-bg.jpg");
      background-size:cover;
      background-position: center;
    }
    &.bots{
      background:url("../../gfx/lasvegas/v2-site/bots-bg.jpg");
      background-size:cover;
      background-position: center;
      height:500px;
      @media (min-width: 75em) {
        height:100%;
      }
    }

    &.expo{
      background:url("../../gfx/lasvegas/expo-sec-bg.jpg");
      background-size:cover;
      background-position: center;
    }

    &.clients{
      background:url("../../gfx/lasvegas/clients-sec-bg.jpg");
      background-size:cover;
      background-position: center;
      height: 500px;
      @media (min-width: 75em) {
      height: 100%;
      }
    }
    &.startup{
      background:url("../../gfx/lasvegas/startup-sec-bg.jpg");
      background-size:cover;
      background-position: center;
    }  
  }
}


.two.clients{
  flex-direction: column-reverse;
  @media (min-width: 75em) {
    flex-direction: row;
  }
}


section.two.keynote .content {
  background-color: $butter;
}

section.two.keynote.second {
    flex-direction: column-reverse; }
    @media (min-width: 75em) {
      section.two.keynote.second {
        flex-direction: row; } }

section.two.keynote h5 {
  margin: 1em 0;
  margin-top:0; 
  color: $dark-green;
  font-weight:100;
  letter-spacing:0;
}

section.two.keynote h2 {
  font-size: 3rem;
  color:$dark-green;
  font-family: "Anton","museo-sans",sans-serif;
  @media (min-width: 40em) {
    font-size:3.5rem;
  }
  @media (min-width: 95em) {
    font-size:3.7rem;
  }
}


section.two.keynote .schedule-wrp {
  button{
    margin: 0;
  }
}

@media (min-width: 75em) {
  section.two.keynote .schedule-wrp {
    margin-top: auto;
  }
}



section.two .content {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.two .content .content-wrap {
  margin: 2em 0;
  margin-top: 0;
}

@media (min-width: 120em) {
  section.two .content .content-wrap {
    margin: 1.68vw 0;
  }
}

@media (min-width: 75em) {
  section.two .content {
    width: 50%;
    padding: 2em 4em;
  }
}

@media (min-width: 120em) {
  section.two .content {
    padding: 1.68vw 3.4vw;
  }
}

section.two h2{
  color:$las;
}

section.two button {
  margin-top: auto;
}

@media (min-width: 75em) {
  section.two button {
    margin-bottom: 2em;
  }
}

section.two.keynote button {
  margin-bottom: 0;
}

.speaker-highlights{
  .highlights-wrp{
    display: flex;
    flex-wrap: wrap;
     @media (min-width: 75em) {
        min-height: 850px;
      }
    .hl-member{
      position:relative;
      &:after{
          content: '';
          width: 100%;
          height: 100%;
          background:rgba(0,0,0,0.2);
          display: block;
          position:absolute;
          top: 0;
          left: 0;
      }

      width: 50%;
      height: 200px;
      display: flex;
      flex-direction: column;
      @media (min-width: 500px) {
        height: 250px;
      }
      @media (min-width: 600px) {
        height: 300px;
      }
      @media (min-width: 700px) {
        height: 350px;
      }
      @media (min-width: 800px) {
        width: auto;
        height: 200px;
        flex-basis: 25%;
      }
      @media (min-width: 1000px) {
        height: 250px;
      }
      @media (min-width: 75em) {
        height: auto;
      }

      .member-wrp{
        position:relative;
        z-index: 2;
        margin-top: auto;
        padding:1.5em 1em;
        @media (min-width: 75em) {
          padding:1.5em 2em;
        }

        h2{
          font-size: 3.5vw;
          color:$white;
          margin-bottom: 0;
          @media (min-width: 800px) {
            font-size: 2vw;
          }
          @media (min-width: 900px) {
            font-size: 1.5vw;
          }

        }
        h5{
          margin:0;
          color:$white;
          letter-spacing:0;
          font-size: 3vw;
          display: none;
          @media (min-width: 500px) {
            font-size: 2.5vw;
          }
          @media (min-width: 800px) {
            font-size: 1.5vw;
          }
          @media (min-width: 75em) {
            font-size: 1vw;
          }
          @media (min-width: 95em) {
            font-size: .7vw;
            display: block;
          }
        }
        h6{
          color:$white;
          font-weight:bold;
          margin-top: 2px;
          font-size: 3vw;
          @media (min-width: 500px) {
            font-size: 2.5vw;
          }
          @media (min-width: 800px) {
            font-size: 1.5vw;
          }
          @media (min-width: 75em) {
            font-size: 1vw;
          }
          @media (min-width: 95em) {
            font-size: .7vw;
          }
        }
      }


      &.jill-larsen{
        background:url("../../gfx/lasvegas/v2-site/jill-larsen.jpg");
        background-size:cover;
        background-position:bottom;
        background-repeat:no-repeat;
      }
      &.josh-bersin{
        background:url("../../gfx/lasvegas/v2-site/josh-bersin.jpg");
        background-size:cover;
        background-position:bottom;
        background-repeat:no-repeat;
      }
      &.jennifer-waldo{
        background:url("../../gfx/lasvegas/v2-site/jennifer-waldo.jpg");
        background-size:cover;
        background-position:bottom;
        background-repeat:no-repeat;
      }
      &.david-lee{
        background:url("../../gfx/lasvegas/v2-site/david-lee.jpg");
        background-size:cover;
        background-position:bottom;
        background-repeat:no-repeat;
      }
      &.kathleen-hogan{
        background:url("../../gfx/lasvegas/v2-site/kathleen-hogan.jpg");
        background-size:cover;
        background-position:bottom;
        background-repeat:no-repeat;
      }
      &.sjoerd-gehring{
        background:url("../../gfx/lasvegas/v2-site/sjoerd-gehring.jpg");
        background-size:cover;
        background-position:bottom;
        background-repeat:no-repeat;
      }
      &.diane-adams{
        background:url("../../gfx/lasvegas/v2-site/diane-adams.jpg");
        background-size:cover;
        background-position:bottom;
        background-repeat:no-repeat;
      }
      &.curt-burghardt{
        background:url("../../gfx/lasvegas/v2-site/curt-burghardt.jpg");
        background-size:cover;
        background-position:bottom;
        background-repeat:no-repeat;
      }
    }    
  }
  .highlight-text{
    background-color:$las;
    text-align: center;
    padding:2em 1em;
    padding-bottom:1em;
    @media (min-width: 40em) {
      padding:4em 1em;
      padding-bottom:1em;
    }

    h2,h4,p{
      color:$white;
    }
    h2{
      font-size: 1.6rem;
      font-family: "Anton","museo-sans",sans-serif;
      @media (min-width: 500px) {
        font-size: 2rem;
      }
      @media (min-width: 800px) {
        font-size: 2.5rem;
      }
      @media (min-width: 75em) {
        font-size: 2.5rem;
      }
      @media (min-width: 95em) {
        font-size: 4rem;
      }
    }
    h4{
      font-size: 1.2rem;
      font-weight:100;
      line-height: 1.3em;
      text-transform: none;
      @media (min-width: 800px) {
        font-size: 1.4rem;
      }
      @media (min-width: 75em) {
        font-size: 1.6rem;
      }
    }
  }  
}

section.past-speakers{
  h2{
    color: $gray;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0;
  }
}




section.one-cntr {
  background-color:$butter;
  text-align: center;
  padding: 2em 0;
}

@media (min-width: 75em) {
  section.one-cntr {
    padding: 4em 0;
  }
}

section.one-cntr h2{
  font-size: 3rem;
  font-family: "Anton","museo-sans",sans-serif;
  line-height: 1em;
  margin: 0;
  color:$las;
  @media (min-width: 40em) {
    font-size:3.5rem;
  }
  @media (min-width: 95em) {
    font-size:4rem;
  }
}
section.one-cntr p{
  margin: 2em 0;
}

section.one-cntr button {
  width: 90%;
}

@media (min-width: 40em) {
  section.one-cntr button {
    width: 205px;
  }
}

@media (min-width: 120em) {
  section.one-cntr button {
    width: 10.7vw;
  }
}


.testim {
  margin: 0 2em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  .strn{
    font-weight: 900;
  }

}
  @media (min-width: 75em) {
    .testim{
      margin: 3em 4em;
    }
  }
  .testim .coma {
    width: 30px;
    margin-top: 1em; }
  .testim span {
    display: block;
    margin: 1em 0;
    color: #fff;
    font-weight: 300;
    line-height: 1.5em; }
    .testim span.blck {
      color: #323232; }
  .testim .quote-logo {
    width: 100px;
    margin-left: auto;
    margin-top: 1em;
    margin-bottom: 2em }
  .testim.wdth {
    margin: 3em 0;
    span{
      color: #323232;
    }
  }

section.map {
 background: url("../../gfx/lasvegas/map-mobile-bg.jpg");
  background-size: cover;
  background-position: top;
  display: flex;
  height:600px;
  position:relative;
  @media (min-width: 600px) {
    background: url("../../gfx/lasvegas/map-bg.jpg");
    background-size: cover;
    background-position: center;
  }
}

@media (min-width: 65em) {
  section.map {
    display: block;
  }
}

section.map .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      position:absolute;
      bottom:0;

  @media (min-width: 600px) {
    width:50%; 
  }
}

@media (min-width: 65em) {
  section.map .content {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (min-width: 75em) {
  section.map .content {
    max-width: 49.5vw;
  }
}

section.map .mapcont-wrp {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: $topaz;
}

section.map .mapcont-wrp p {
  margin: 1em 0;
}

section.map .mapcont-wrp a {
  display: block;
  margin-top:auto;
}

section.map .mapcont-wrp h2 {
  color:$dark-green;
}

@media (min-width: 95em) {
  section.map .mapcont-wrp {
    width: 50%;
    padding: 4em;
  }
}

section.map .mapcont-wrp button {
  margin-top: 1em;
}

section.map .map-pic {
  width: 100%;
  background: url("../../gfx/lasvegas/v2-site/venue-sec-bg.jpg");
  background-size: cover;
  background-position: bottom;
  display: none;
}

@media (min-width: 95em) {
  section.map .map-pic {
    width: 50%;
    display: block;
  }
}

section.sponsors {
  min-height: 300px;
  background-color: #f2f2f2;
  text-align: center;
}

section.sponsors .full-btn {
  margin-bottom: 3em;
  width: 95%;
}

section.sponsors img {
    margin: auto;
    width: 130px; }
    
    @media (min-width: 120em) {
      section.sponsors img {
         } }
  section.sponsors .sponsors-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em; }
    section.sponsors .sponsors-wrp .sponsor {
      width: 150px;
      height: 150px;
      text-align: center;
      padding: 2em 1em;
      opacity: 0;
      display: flex; }

      section.sponsors .sponsors-wrp .sponsor:last-child{
        display: none;
      }

      @media (min-width: 75em) {
        section.sponsors .sponsors-wrp .sponsor {
          margin: 2em;
          padding:0; } }
      @media (min-width: 130em) {
        section.sponsors .sponsors-wrp .sponsor {
          margin: 1.68vw;
          width: 7vw;
        } }
      section.sponsors .sponsors-wrp .sponsor:hover {
        transition: all 1s;
        cursor: pointer;
      }
      section.sponsors .sponsors-wrp .sponsor:hover img {
        transform: scale(1.3);
        opacity: 1;
        transition: all .1s; }

.come-in {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0);
          transform: scale3d(0, 0, 0);
  -webkit-animation: come-in 1.5s ease forwards;
          animation: come-in 1.5s ease forwards;
}

.come-in:nth-child(odd) {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes come-in {
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes come-in {
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}


.rslides_tabs{
  position: absolute;
    z-index: 5;
    display:none;
    top: 42vw;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translateX(-50%);
    @media (min-width: 40em) {
      //display:block;
    }
    @media (min-width: 95em) {
      top:4vw;
    }

  li{
    padding: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    list-style: none;
    display:inline-block;
    margin: 10px 10px 0;
    cursor: pointer;
    border: 2px solid #fff;
    transition: .3s;
    &.rslides_here{
      background:$las;
    }

    a{
      color:transparent;
    }
  }
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  display: none;
  @media (min-width: 40em) {
    display: block;
  }
  video{width:100%;margin-top:-2.5%;}
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  max-height:950px;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }


  .rslides_nav{
    display: none;
    position: absolute;
    bottom: 60%;
    z-index: 10;
    font-size: 20px;
    font-weight: 900;
    color: #083643;
    background: rgba(255,255,255,0.7);
    border: 1px solid #083643;
    padding-top: 2px;
    padding-bottom: 0px;
    height: 30px;
    border-radius: 10px;
    @media (min-width: 40em) {
      display: block;
    }
    @media (min-width: 75em) {
      font-size: 30px;
      height: 40px;
    }
    @media (min-width: 95em) {
      bottom:50%;
    }

    &:hover{
      color:#fff;
      background:rgba(0,0,0,0.7);
    }

    &.prev{
      left: 20px;
      padding-left: 9px;
      padding-right: 9px;
      @media (min-width: 75em) {
        padding-right: 12px;
      }
    }
    &.next{
      right: 20px;
      padding-left: 9px;
      padding-right: 9px;
      @media (min-width: 75em) {
        padding-left: 12px;
      }
    }
  }