.modal-header {
  	color: $topaz;
}

.blue-btn{
  background-color: $topaz!important;
  &:hover{
    border-color:$topaz!important;
    color:$topaz!important;
    background-color:#fff!important;
  }
}

#reservation{
	.modal-content{
		width: 410px;
		height: auto;
	}
	.modal-header{
		padding-left:2em;
		padding-right:2em;
		@media (min-width: 400px) {
			padding-left:3em;
			padding-right:3em;
		}

		.close{
			font-size: 28px;
		}
		p{
			margin-bottom: .2em;
			margin-top: 1em;
			&:first-child{
				margin-top: 2em;
			}
		}
		span{
			font-size: 13px;
			font-weight: bold;
			a{
				color: $topaz;
				&:nth-child(3){
					display: none;
				}
			}
		}
		.green-btn{
			width: 100%!important;
			margin-top: 32px;
			margin-bottom: 1em;
			font-size: 12px;

		}
	}
}

#volunteer .modal-header p{
	font-size:13px;
}

#cv{
	display:flex;
	flex-direction:column;
	p{
		text-align:center;
	}
	input{
		font-size: 13px;
		width: 175px;
		margin: 0 auto;
	}
}